<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!shop" (click)="addData()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button ion-button full (click)="addData()">Add Data</button> -->
  <!-- <ion-list>
    <ion-item *ngFor="let i of datas"><b>{{i.name}}</b> {{i.nickname}}</ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item-sliding #item *ngFor="let i of datas">
      <ion-item >
        <b>{{i.name}}</b> {{i.nickname}}
      </ion-item>

      <ion-item-options side="right" *ngFor="let i of location">
        <button ion-button color="secondary" (click)="EditItem(i)">Edit</button>
        <button ion-button color="danger" (click)="DeleteItem(i)">Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>